---
layout: default
title: shaomingquan	blog
---
<!-- 打印本页中的blog -->
    <div id="masonry" class="masonry">
    {% for post in paginator.posts %}
        <div class="box">
            <h3><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            <article>
                <p>{{ post.excerpt }}</p>
            </article>
            <a href="{{ site.url }}{{ post.url }}"><i class="icon-link"></i></a>
            <div>
                <span>Published: </span>
                <span>{{ post.date | date_to_string }}</span>
            </div>
        </div>
    {% endfor %}
    </div>

<!-- 分页文章 -->
{% if paginator.total_pages > 1 %}
    <nav class="pagination fn-clear">
        <span class="pagination-icon"><i class=" icon-copy"></i></span>
        <ul class="pagination-list">
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}