---
layout: default
title: shaomingquan - Blog
---
<!-- 打印本页中的blog -->
    <div id="masonry" class="masonry">
    {% for post in paginator.posts %}
        <div class="box">
            <a href="{{ site.url }}{{ post.url }}">
                <table>
                    <tr>
                        <td width="25%" class="td-date">
                            <span>{{ post.date | date_to_string }}</span>
                        </td>
                        <td class="td-title">
                            <span><i>{{ post.title }}</i></span>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-excerpt" colspan="2">
                            <article>
                                <p>{{ post.excerpt }}</p>
                            </article>
                        </td>
                    </tr>
                </table>
            </a>
        </div>
    {% endfor %}
    </div>

<!-- 分页文章 -->
{% if paginator.total_pages > 1 %}
    <nav id="pagination">
        <ul class="inline-list">
            <li><i>Pages:</i></li>
            {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                    <li class="current"><a href="javascript:void(0);">{{ page }}</a></li>
                {% else %}
                    <li><a href="{{ site.url }}/{%if page > 1 %}page{{ page }}/{% endif %}">{{ page }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </nav>
{% endif %}