.box{
	margin: 0;
	padding: 20px;
	width: 100%;
}
header img{
	float: left;
	width: 22%;
	margin: 10px auto;
}
header img:after{
	clear:both;
}

.item-right a ,.item-left a{
	margin: 10px 0;
	display: block;
	float: none;
	text-align: center;
}

.item-right a:before{
	display: none;
}

.item-right a:after{	
	display: none;
}

.item-left a:before{
	display: none;
}

.item-left a:after{
	display: none;
}
