.box{
	margin: 0;
	padding: 20px;
	width: 100%;
}
header img{
	width: 60%;
	display: block;
	margin: 10px auto;
}

.item-right a ,.item-left a{
	margin: 10px 0;
	display: block;
	text-align: center;
}

.item-right a:before{
	display: none;
}

.item-right a:after{	
	display: none;
}

.item-left a:before{
	display: none;
}

.item-left a:after{
	display: none;
}

.post-stage, .category-stage {
  width: 100%;
  margin: 0px auto;
  padding: 0px 6%;
}