/*style.css*/

/*--- general resets ---*/
body{
	font-family: "Microsoft YaHei",微软雅黑,Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	color:rgb(63, 69, 73);
}

::selection {
  color: white;
  background: rgb(127,147,157);
}

pre ,code{
	font-family: Courier New,Arial;
}

a:link{
	color: rgb(127,147,157);
	font-weight: bold;
	text-decoration: none;
}

a:visited{
	color: rgb(107,127,137);	
}

a:hover{
	color:rgb(63, 69, 73);
}

h1 a ,h2 a ,h3 a ,h4 a{
	font-weight: normal;
}

li{
	list-style: none;
}

/*--- main style ---*/
header div ,header img{
	float: left;
}

header div{
	width: 42%;
}

header img{
	width: 16%;
}

header a{
	display: block;
	padding: 0px 20px;
	margin: 18px 0px;
	position: relative;
}

header a:after ,header a:before{
	content: "";
	display: block;
	position: absolute;
	background-color: rgb(127,147,157);
	height: 1px;
	width: 100%;
	left: 0;
	bottom: 0;
}

.item-right a{	
	float: right;
}

.item-right a:after{	
	
}

.item-left a{
	float: left;
}