/*style.css*/

/*--- general resets ---*/
body{
	font-family: "Microsoft YaHei",微软雅黑,Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	color:rgb(63, 69, 73);
}

::selection {
  color: white;
  background: rgb(127,147,157);
}

pre ,code{
	font-family: Courier New,Arial;
}

a:link{
	color: rgb(127,147,157);
	font-weight: bold;
	text-decoration: none;
}

a:visited{
	color: rgb(107,127,137);	
}

a:hover{
	color:rgb(63, 69, 73);
}

h1 a ,h2 a ,h3 a ,h4 a{
	font-weight: normal;
}

li{
	list-style: none;
}

td{
	padding: 10px;
}

/*--- main style ---*/
header div ,header img{
	float: left;
}

header div{
	width: 42%;
}

header img{
	width: 16%;
}

header a{
	display: block;
	padding-top: 8px;
	padding-bottom: 8px;
	margin: 10px 0;
	position: relative;
}

header a:after ,header a:before{
	content: "";
	display: block;
	position: absolute;
	background-color: rgb(127,147,157);
	height: 1px;
	width: 100%;
	bottom: 0;
}

.item-right a{
	float: right;
	padding-left: 10px;
	padding-right: 5px;
	margin-right: 40px;
}

.item-right a:before{
	width: 45px;	
	left: 0;
	transform:rotate(-135deg);
	-moz-transform:rotate(-135deg);
	-webkit-transform:rotate(-135deg);
	transform-origin: left;
	-moz-transform-origin: left;
	-webkit-transform-origin: left;
}

.item-right a:after{	
	left: 0;
	width: 0;
}

.item-left a{
	float: left;
	margin-left: 40px;
	padding-left: 5px;
	padding-right: 10px;
}

.item-left a:before{
	width: 45px;
	right: 0;
	transform:rotate(135deg);
	-moz-transform:rotate(135deg);
	-webkit-transform:rotate(135deg);
	transform-origin: right;
	-moz-transform-origin: right;
	-webkit-transform-origin: right;
}

.item-left a:after{
	right: 0;
	width: 0;
}

.item-right a:before,
.item-right a:after,
.item-left a:before,
.item-left a:after{
	-webkit-transition: ease-in-out 0.3s;
	-moz-transition: ease-in-out 0.3s;
	transition: ease-in-out 0.3s;
}

.item-right a:hover:before{
	width: 0;
}

.item-right a:hover:after{
	width: 100%;
}

.item-left a:hover:before{
	width: 0;
}

.item-left a:hover:after{
	width: 100%;
}

/* masonry */

.container-fluid{
	overflow: auto;
	border-bottom: 1px solid rgb(127,147,157);
/*	padding: 20px;
*/}

.box{
	margin: 10px;
	margin-bottom: 20px;
	float: left;
	width: 330px;
}

.td-date{
	border-top:1px solid rgb(127,147,157);
	border-right:1px solid rgb(127,147,157);
	border-left:1px solid rgb(127,147,157);
	padding-right: 5px;
}

.td-title{
	border-bottom:1px solid rgb(127,147,157);	
	padding-left: 15px;
}

.td-excerpt{
	border-bottom:1px solid rgb(127,147,157);
	border-right:1px solid rgb(127,147,157);
	border-left:1px solid rgb(127,147,157);
}