/*style.css*/

/*--- general resets ---*/
body{
	font-family: "Microsoft YaHei",微软雅黑,Arial, 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 15px;
	color:rgb(63, 69, 73);
}

pre ,code{
	font-family: Courier New,Arial;
}

a:link{
	color: rgb(127,147,157);
	font-weight: bold;
	text-decoration: none;
}

a:visited{
	color: rgb(107,127,137);	
}

a:hover{
	color:rgb(63, 69, 73);
}

h1 a ,h2 a ,h3 a ,h4 a{
	font-weight: normal;
}

li{
	list-style: none;
}