---
layout: default
---
<div>
    <!-- 标题，日期，分类 -->
    <h2>{{ page.title }}</h2>
    <div>
        <span><i></i> Published: </span>
        <span>{{ page.date | date_to_string }}</span>
        <span><i></i> Category: </span>
        <span><a href="{{ site.url }}/series#{{ page.category }}" >{{ page.category }}</a></span>
    </div>

    <!-- content -->
    <div id="blogMenuStage"></div>

    <!-- 内容区 -->
    <div id="blogstage">
        {{ content }}
    </div>

    <!-- 分享功能 -->
    <div class="bdsharebuttonbox">
        <a href="#" data-cmd="weixin" title="分享到微信"></a>
        <a href="#" data-cmd="douban" title="分享到豆瓣网"></a>
        <a href="#" data-cmd="tsina" title="分享到新浪微博"></a>
        <a href="#" data-cmd="tqq" title="分享到腾讯微博"></a>
        <a href="#" data-cmd="renren" title="分享到人人网"></a>
        <a href="#" data-cmd="mail" title="分享到邮件分享"></a>
        <a href="#" data-cmd="more"></a>
    </div>

    <!-- 上一篇，下一篇 -->
    <nav>
        {% if page.previous %}
        <a class="prev" href="{{site.url}}{{ page.previous.url }}" rel="bookmark">&laquo;&nbsp;{{ page.previous.title | truncatewords:5 }}</a>
        {% endif %}

        {% if page.next %}
        <a class="next" href="{{site.url}}{{ page.next.url }}" rel="bookmark">{{ page.next.title | truncatewords:5 }}&nbsp;&raquo;</a>
        {% endif %}
    </nav>

	<!-- 相关文章 -->
    <div>
    <h2>Related Posts</h2>
    <ul>
    {% for post in site.related_posts limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{site.url}}{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    </div>

    <!-- 评论功能 -->
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = '{{ site.disqus.id }}';
        
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</div>

<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = '{{ site.disqus.id }}';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>
<script src="{{ site.url }}/publics/scripts/menu.config.js"></script>
<script src="{{ site.url }}/publics/scripts/highlight.config.js"></script>
